
.nombre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    font-size: 25px;
}
.quehago{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quehago_text{
    margin-top: 20px;
    font-size: 35px;
}

.quehago_image{
    width: 61px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

#mainContent{
    margin-top: 100px;
}

.post_loop{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 15px;
}

.date{
    font-size: 20px; 
}
.title{
    margin-left: 10px;
    font-size: 30px; 
}