/*
Theme Name: Personal
Theme URI: URL donde haya información de tu tema
Author: Nombre del autor del tema
Author URI: URL del autor del tema
Description: Breve descripción
Version: Número de versión (p.e. 1.0)
License: Licencia (p.e. GNU General Public License v2 or later)
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: etiquetas
Text omain: Identificador para hacer tu tema traducible
*/

@import url("https://fonts.googleapis.com/css?family=Montserrat");

*{
  font-family: montserrat;
}

a:link 
{ 
text-decoration:none; 
} 

.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  font-size: 20px;
}
.menu-item{
  cursor: pointer;
  color: black;
}
.menu-item:hover{
  color: gray;
}

